body {
  background-color: rgb(156, 233, 226);
}
h1{
  font-size: 175px;
  text-align: center;
  color:orangered; 
}
h2{
  font-size: 100px;
  text-align: center;
  color:rgb(49, 26, 112);
}
.sidebar {
  float: right;
  width: 12%;
  height: 86vh;
  background-color: aqua;
  border: 15px solid black;
  padding: 50px;
  font-size: 50px
} 
img {
  width: 80%;
  border: 10px solid black;
  padding: 50px;
}
.column {
  width: 32%;
  height: 26vh;
  float: left;
  padding: 10px;
  font-size: 50px;
}

